<div class="container">
    <table class="table">
        <tr>
            <td>Họ Tên</td>
            <td><input type="text" ng-model="inputValue.name" class="form-control"></td>
        </tr>
        <tr>
            <td>Giới Tính</td>
            <td>
                <select ng-model="inputValue.gender" class="form-select">
                    <option value="Nam" selected>Nam</option>
                    <option value="Nữ">Nữ</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Năm Sinh</td>
            <td><input type="text" ng-model="inputValue.namsinh" class="form-control"></td>
        </tr>
        <tr>
            <td>Level</td>
            <td>
                <select name="" id="" ng-model="inputValue.level" ng-options="x.level for x in levels" class="form-select">
                </select>
            </td>
        </tr>
        <tr>
            <td>Số Ngày</td>
            <td><input type="number" ng-model="inputValue.date" class="form-control"></td>
        </tr>

    </table>
    <button ng-click="onSubmitForm()" class="btn btn-success">Lưu Thông Tin</button>

    <table class="table" style="margin-top: 20px">
        <thead>
            <tr>
                <th>ID</th>
                <th>Họ Tên</th>
                <th>Giới Tính</th>
                <th>Tuổi</th>
                <th>Tổng Lương</th>
                <th>Thao Tác</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="lv in levels">
                <td>{{lv.id}}</td>
                <td>{{lv.name}}</td>
                <td>{{lv.gender}}</td>
                <td>{{lv.namsinh}}</td>
                <td>{{lv.thongbao}}</td>
                <td>{{lv.level * ds.date}}</td>
                <td >
                    <button ng-click="onEdit(lv.id)" class="btn btn-info">Sửa</button>
                    <button ng-click="onDelete(lv.id)" class="btn btn-danger">Xóa</button>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>