<div class="container">
    <div class="form-group">
        <label for="">Tên Sản Phẩm</label>
        <input type="text" ng-model="inputValue.sp" class="form-control">
        <p ng-if="kiemTraDuLieu.sp==true" style="color: red">Hãy nhập tên sản phẩm</p>
    </div>

    <div class="form-group">
        <label for="">Số Lượng</label>
        <input type="text" ng-model="inputValue.sl" class="form-control">
        <p ng-if="kiemTraDuLieu.sl==true" style="color: red">Hãy nhập vào số lượng</p>
    </div>

    <div class="form-group">
        <label for="">Đơn Giá</label>
        <input type="text" ng-model="inputValue.don" class="form-control">
        <p ng-if="kiemTraDuLieu.don==true" style="color: red">Hãy nhập vào đơn giá</p>
    </div>

    <div class="form-group">
        <label for="">Trạng Thái</label>
        <select ng-model="inputValue.trangthai" class="form-control">
            <option value="">Mời chọn</option>
            <option value="Kích hoạt">Kích hoạt</option>
            <option value="Chưa kích hoạt">Chưa kích hoạt</option>
        </select>
    </div>
    <button ng-click="onSubmitForm()" class="btn btn-success">Save</button>

    <table border="1" style="width: 100%; margin-top: 30px; text-align: center;">
        <tr>
            <td>ID</td>
            <td>Tên Sản Phẩm</td>
            <td>Số Lượng</td>
            <td>Đơn Giá</td>
            <td>Trạng Thái</td>
            <td>Tổng Tiền</td>
            <td>Thao Tác</td>
        </tr>

        <tr ng-repeat="ds in danhsach">
            <td>{{ds.id}}</td>
            <td>{{ds.sp}}</td>
            <td>{{ds.sl}}</td>
            <td>{{ds.don}}</td>
            <td>{{ds.trangthai}}</td>
            <td>{{ds.sl * ds.don}}</td>
            <td >
                <button ng-click="onEdit(ds.id)" class="btn btn-info">Sửa</button>
                <button ng-click="onDelete(ds.id)" class="btn btn-danger">Xóa</button>
            </td>
        </tr>
        <tr>
            <td colspan="6" style="font-weight: bold;"><span>Tổng: {{total()}}</span></td>
        </tr>
    </table>
</div>